<style>
    .header {
        background-color: gold;
	    width:100%;
	    height:60px;
}

    .logo {
        background-color: gold;
	    font-size: 300%;
	    font-family:impact;
}

    #main {
        background-color: gold;
        margin: 1px;
        padding: 1px;
}

    .container  {
        background-color: gold;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
}

    .panel {
        background-color: gold;
        height: 100%;
        width: 100%;
}

    .muo-text {
        background-color: gold;
        font-size: 3em;
        font-weight: bolder;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        position: absolute;
}

    h1 {
        background-color: gold;
        font-family: Lato;
        font-size: 300%;
}

    p {
        background-color: gold;
        font-family: lato;
        font-size: 160%;
        margin: 0px;

}

    html {
        background-color: gold;
        --logic: if (x > 5) document.body.style.background = "gold";
}

    tr {
        background-color: gold;
        padding-right: 15px;
}

#backing 
{
        background-color: gold;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}



#nav
 {
        background-color: gold;
        width:100%;
        height:50px;
        position:fixed;
        top:0px;
}

.title
 {
        background-color: gold;
        font-family:verdana;
        font-size:25px;
        width:350px;
        margin-top:6px;
        margin-left:150px;
        font-weight:bold;
        clear:left;
}

.subtitle 
{
        background-color: gold;
        font-family:verdana;
        font-size:15px;
}

#navigation
{
        background-color: gold;
        list-style-type:none;
        float:right;
}

li 
{
        background-color: gold;
        display:inline;
        padding:10px;
}

#nav a
{
        background-color: gold;
        font-family:verdana;
        text-decoration:none;
}

#nav a:hover 
{
        background-color: gold;

}

</style>