<style>
  body {
    background-color: grey;
    border: 2px solid powderblue;
      
  }
  h1 {
    color: blue;
    fontfamily: Times New Roman;
    fontsize: 300%;
    margin: 10px;

  }
  p {
    color: purple;
    fontfamily: lato;
    background-color: gold;
    fontsize: 160%;
    margin: 10px;

  }

</style>
