<style>
    .header {
        display: grid;
        place-items: left;
        grid-template-columns: minmax(0px, 0%) 1fr;
        background-color: greenyellow;
}

    #nav {
        background-color: olivedrab;
        display: grid;
}

    .html {
        display: grid;
        place-items: left;  
        background-color: olivedrab;
        --logic: if (x > 5) document.body.style.background = "olivedrab";
        scroll-behavior: auto;
}

    .title {
        display: flex;
        place-items: left;
        flex-wrap: wrap;
        flex: 1 1 150px;
        background-color: olivedrab;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: var(--logic);
        font-size:25px;
        width:350px;
        margin-top:6px;
        margin-left:150px;
        font-weight:bold;
        float: inline-start;        
}

    .subtitle {
        display: flex;
        place-items: left;
        flex-wrap: wrap;
        flex: 1 1 150px;
        background-color: olivedrab;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: var(--logic);
        font-size:15px;
        float: var(--logic);
        margin: 5px;
}

    #navigation {
        display: flex;
        place-items: center;
        flex-wrap: wrap;
        flex: 1 1 150px;
        font-style: oblique;
        background-color: moccasin;
        list-style-type: none;
        font-weight: bolder;
        float:right;
        padding-right: var(--logic);
        height: 71px;
        margin: 5px;
}

    .logo {
        display: inline-block;
        place-items: center;
        background-color: black;
	    font-size: 300%;
        font-family:impact;
}

    #main {
        display: flex;
        place-items: center;
        flex-wrap: wrap;
        flex: 1 1 150px;
        background-color: sandybrown;
        margin: 1px;
        padding: 1px;
}

    .container  {
        background-color: olivedrab;
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 150px;
        justify-content: center;
        align-items: center;
        height: 90vh;
        margin: 5px;
}

    .muo-text {
        display: flex;
        place-items: center;
        flex-wrap: wrap;
        flex: 1 1 150px;
        background-color: olivedrab;
        font-size: 3em;
        font-weight: bolder;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        position: absolute;
        margin: 5px;
}

    #h1 {
        display: flex;
        place-items: center;
        flex-wrap: wrap;
        flex: 1 1 150px;
        background-color: gold;
        font-family: Lato;
        font-size: 300%;
        margin: 5px;
}

    #p {
        display: flex;
        place-items: center;
        flex-wrap: wrap;
        flex: 1 1 150px;
        background-color: gold;
        font-family: lato;
        font-size: 160%;
        margin: 0px;
}

    #backing {
        display: flex;
        place-items: center;
        flex-wrap: wrap;
        flex: 1 1 150px;
        background-color: olivedrab;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin: 5px;
}

    .panel {
        display: flex;
        place-items: center;
        flex-wrap: wrap;
        flex: 1 1 150px;
        background-color: gold;
        height: 100%;
        width: 100%;
        margin: 5px;
        grid-template-columns: minmax(150px, 25%) 1fr;
}

    #li {
        display: flex;
        place-items: center;
        flex-wrap: wrap;
        flex: 1 1 150px;
        background-color:burlywood;
        display:inline;
        padding:10px;
        margin: 5px;
}

    #tr {
        display: flex;
        place-items: center;
        flex-wrap: wrap;
        flex: 1 1 150px;
        background-color:burlywood;
        display:inline;
        padding-right: 15px;
        margin: 5px;
}

    #nav a {
        display: flex;
        place-items: center;
        flex-wrap: wrap;
        flex: 1 1 150px;
        background-color: gold;
        font-family:verdana;
        text-decoration:none;
        margin: 5px;
}

    #nav a:hover {
        display: flex;
        place-items: center;
        flex-wrap: wrap;
        flex: 1 1 150px;
        background-color: gold;
        margin: 5px;
}

</style>